Repository kubernetes-sigs/release-sdk, pull requests merged in 2022-08, with the labels that each got.

#100 remove pull_request target that does not work with fork prs
  .github/workflows/e2e.yml
Labels: kind/bug, cncf-cla: yes, sig/release, lgtm, size/XS, approved

#99 update cosign dependency to v0.11.0
  go.mod
  go.sum
  sign/impl.go
  sign/sign.go
  sign/signfakes/fake_impl.go
Labels: kind/cleanup, size/XL, cncf-cla: yes, sig/release, lgtm, approved

#104 Update golangci-lint and config
  .golangci.yml
  git/git.go
  git/git_test.go
  github/github.go
  github/internal/retry.go
  magefile.go
  object/gcs.go
  object/store.go
  regex/regex.go
  sign/impl.go
  sign/sign_test.go
  test/integration/git_test.go
Labels: kind/cleanup, cncf-cla: yes, sig/release, lgtm, size/L, approved
