Repository kubernetes-sigs/release-sdk, pull requests merged in 2022-02, with the labels that each got.

#32 Split `Verify` API into `VerifyImage` and `VerifyFile`
  sign/impl.go
  sign/sign.go
  sign/sign_test.go
  sign/signfakes/fake_impl.go
Labels: cncf-cla: yes, sig/release, lgtm, sig/security, size/L, approved

#31 Add initial integration tests for SignImage
  .golangci.yml
  go.mod
  go.sum
  magefile.go
  sign/options.go
  sign/sign.go
  test/integration/container_registry.go
  test/integration/sign_test.go
Labels: cncf-cla: yes, sig/release, lgtm, size/L, approved

#35 Add the integration tests for SignFile
  test/integration/sign_test.go
Labels: size/M, cncf-cla: yes, sig/release, lgtm, approved

#34 Move Git integration tests to the test/integration pkg
  git/git_test.go
  test/integration/git_test.go
Labels: size/S, cncf-cla: yes, sig/release, lgtm, approved

#33 Implement Image Signing Verification
  go.mod
  go.sum
  sign/impl.go
  sign/options.go
  sign/sign.go
  sign/sign_test.go
  sign/signfakes/fake_impl.go
  test/integration/sign_test.go
Labels: cncf-cla: yes, sig/release, lgtm, size/L, approved

#38 github: add update issue api
  github/github.go
  github/github_test.go
  github/githubfakes/fake_client.go
  github/record.go
  github/replay.go
Labels: cncf-cla: yes, sig/release, lgtm, size/L, approved

#40 Pull Request Template
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
Labels: size/M, cncf-cla: yes, sig/release, lgtm, approved

#39 sign: IsImageSigned()
  sign/impl.go
  sign/impl_test.go
  sign/sign.go
  sign/sign_test.go
  sign/signfakes/fake_impl.go
Labels: cncf-cla: yes, sig/release, lgtm, size/L, approved

#41 sign: Use cosign's OCI Remote to check for signatures
  sign/impl.go
  sign/impl_test.go
Labels: kind/bug, size/S, cncf-cla: yes, sig/release, lgtm, approved

#43 github: add labels to issues function
  github/github.go
  github/github_test.go
  github/githubfakes/fake_client.go
  github/record.go
  github/replay.go
Labels: cncf-cla: yes, sig/release, lgtm, size/L, approved

#42 Signer: Support external OIDC tokens. Fail early if token missing.
  sign/impl.go
  sign/impl_test.go
  sign/options.go
  sign/sign.go
  sign/sign_test.go
  sign/signfakes/fake_impl.go
Labels: kind/bug, kind/feature, cncf-cla: yes, sig/release, lgtm, size/L, approved

#44 Remove log from signer impl and add it to options
  sign/impl.go
  sign/impl_test.go
  sign/options.go
  sign/sign.go
  sign/signfakes/fake_impl.go
Labels: size/M, kind/cleanup, cncf-cla: yes, sig/release, lgtm, approved

#45 deps: Update to cosign v1.5.2
  go.mod
  go.sum
Labels: size/S, kind/cleanup, cncf-cla: yes, sig/release, lgtm, area/dependency, approved

#47 Bump docker-distribution and image-spec deps
  go.mod
  go.sum
Labels: size/S, kind/cleanup, cncf-cla: yes, sig/release, lgtm, approved
