Repository kubernetes-sigs/release-sdk, pull requests merged in 2022-04, with the labels that each got.

#54 Bump deps to pick up bugfix in cosign v1.7.1
  go.mod
  go.sum
  sign/impl.go
  sign/options.go
  sign/sign.go
  sign/signfakes/fake_impl.go
Labels: kind/bug, size/XXL, priority/critical-urgent, cncf-cla: yes, sig/release, lgtm, approved

#55 Retry verification if it fails after signing
  go.mod
  sign/options.go
  sign/sign.go
Labels: kind/bug, size/M, cncf-cla: yes, sig/release, lgtm, approved

#60 GitHub replay `ListTags` to return data instead of empty slice
  github/replay.go
  github/replay_test.go
  github/testdata/ListTags-0.json
Labels: kind/bug, cncf-cla: yes, sig/release, lgtm, size/L, approved

#58 Add use httpcache to cache GitHub responses
  github/github.go
  go.mod
  go.sum
Labels: kind/feature, size/S, cncf-cla: yes, sig/release, lgtm, approved
