Repository kubernetes-sigs/release-sdk, pull requests merged in 2022-10, with the labels that each got.

#116 bump rekor to v0.12.2
  go.mod
  go.sum
Labels: kind/cleanup, cncf-cla: yes, sig/release, lgtm, size/L, approved

#123 Add `ImagesSigned` API
  .golangci.yml
  go.mod
  go.sum
  sign/impl.go
  sign/options.go
  sign/sign.go
  sign/sign_test.go
  sign/signfakes/fake_impl.go
  test/integration/sign_test.go
Labels: kind/feature, size/XL, cncf-cla: yes, sig/release, lgtm, approved

#125 Add caching and `VerifyImages` API
  go.mod
  go.sum
  sign/impl.go
  sign/options.go
  sign/sign.go
  sign/sign_test.go
  sign/signfakes/fake_impl.go
  test/integration/sign_test.go
Labels: kind/feature, cncf-cla: yes, sig/release, lgtm, size/L, approved

#127 Add sign.SignImageWithOptions() API
  sign/sign.go
Labels: kind/feature, size/S, cncf-cla: yes, sig/release, lgtm, approved
