Repository kubernetes-sigs/release-sdk, pull requests merged in 2022-01, with the labels that each got.

#17 add ListTags function
  github/github.go
Labels: size/S, cncf-cla: yes, sig/release, lgtm, approved

#18 Add `LatestReleaseBranch()` and `RemoteBranches()` git API
  git/git.go
  git/git_integration_test.go
Labels: size/M, cncf-cla: yes, sig/release, lgtm, approved

#19 Add `sign` package skeleton
  go.mod
  go.sum
  internal/tools.go
  sign/impl.go
  sign/object.go
  sign/options.go
  sign/sign.go
  sign/sign_test.go
  sign/signfakes/fake_impl.go
Labels: size/XXL, cncf-cla: yes, sig/release, lgtm, approved

#20 Split `Sign` API into `SignImage` and `SignFile`
  sign/sign.go
  sign/sign_test.go
Labels: size/M, cncf-cla: yes, sig/release, lgtm, approved

#25 Implement container image signing
  .gitignore
  git/git.go
  git/gitfakes/fake_repository.go
  git/gitfakes/fake_worktree.go
  github/github.go
  github/githubfakes/fake_client.go
  go.mod
  go.sum
  magefile.go
  object/store.go
  sign/impl.go
  sign/options.go
  sign/sign.go
  sign/sign_test.go
  sign/signfakes/fake_impl.go
Labels: kind/feature, size/XXL, cncf-cla: yes, sig/release, lgtm, approved

#28 Make signer implementation internal
  sign/sign.go
Labels: cncf-cla: yes, sig/release, lgtm, size/XS, approved

#26 Add signing timeout
  sign/impl.go
  sign/options.go
  sign/sign.go
Labels: size/S, cncf-cla: yes, sig/release, lgtm, approved

#27 Catch os.SetEnv errors
  sign/impl.go
  sign/sign.go
  sign/sign_test.go
  sign/signfakes/fake_impl.go
Labels: cncf-cla: yes, sig/release, lgtm, size/L, approved
