Repository kubernetes-sigs/release-sdk, pull requests merged in 2022-03, with the labels that each got.

#48 Make attaching image signature optional
  sign/options.go
  sign/sign.go
Labels: kind/feature, size/S, cncf-cla: yes, sig/release, lgtm, approved

#49 Dont verify remote image when not attaching
  sign/sign.go
Labels: kind/bug, cncf-cla: yes, sig/release, lgtm, size/XS, approved

#50 sign: skip image verification if no signature is present
  sign/sign.go
  sign/sign_test.go
Labels: kind/bug, size/M, cncf-cla: yes, sig/release, lgtm, approved

#51 Log on unsigned image verification
  sign/sign.go
Labels: kind/cleanup, cncf-cla: yes, sig/release, lgtm, size/XS, approved

#29 Implement file signing
  internal/tools.go
  mage.go
  sign/impl.go
  sign/sign.go
  sign/signfakes/fake_impl.go
Labels: cncf-cla: yes, sig/release, lgtm, size/L, approved

#52 Switch to golang native error wrapping
  gcli/gcli.go
  git/describe.go
  git/git.go
  git/git_test.go
  github/fork.go
  github/github.go
  github/record.go
  go.mod
  object/gcs.go
  sign/impl.go
  sign/sign.go
Labels: kind/cleanup, cncf-cla: yes, sig/release, lgtm, size/L, approved
