Repository kubernetes-sigs/release-sdk, pull requests merged in 2022-07, with the labels that each got.

#68 Implementation for file signing verification.
  go.mod
  go.sum
  sign/impl.go
  sign/object.go
  sign/sign.go
  sign/sign_test.go
  sign/signfakes/fake_impl.go
  test/integration/sign_test.go
Labels: kind/feature, ok-to-test, size/XXL, cncf-cla: yes, sig/release, lgtm, approved

#88 Switch to `github.com/blang/semver/v4`
  git/git.go
  go.mod
  go.sum
  test/integration/git_test.go
Labels: size/S, kind/cleanup, cncf-cla: yes, sig/release, lgtm, approved

#86 Fix error message if branch already exists in fork
  github/fork.go
Labels: kind/bug, cncf-cla: yes, sig/release, lgtm, size/XS, approved

#90 Pass `nil` on integration test key generation
  sign/options.go
  test/integration/sign_test.go
Labels: size/S, kind/cleanup, cncf-cla: yes, sig/release, lgtm, approved

#91 Add support for GitHub actions e2e tests
  .github/dependabot.yml
  .github/workflows/e2e.yml
  dependencies.yaml
  magefile.go
  sign/object.go
  sign/sign.go
  sign/sign_test.go
  test/e2e/sign_test.go
Labels: cncf-cla: yes, sig/release, lgtm, kind/api-change, size/L, approved
