Repository kubernetes-sigs/release-sdk, pull requests merged in 2023-05, with the labels that each got.

#186 go.mod: Use uwu-tools/magex
  go.mod
  go.sum
  magefile.go
Labels: size/S, kind/cleanup, cncf-cla: yes, sig/release, lgtm, area/dependency, approved

#193 Add `sign.Options.Recursive` config
  sign/options.go
  sign/sign.go
Labels: kind/feature, cncf-cla: yes, sig/release, lgtm, size/XS, approved

#194 Pin release-utils to v0.7.4
  go.mod
  go.sum
Labels: kind/cleanup, cncf-cla: yes, sig/release, lgtm, size/XS, approved

#196 bump golangci-lint to v1.52.2
  .golangci.yml
  git/git.go
  github/record.go
  github/replay.go
  magefile.go
  object/gcs.go
Labels: size/M, kind/cleanup, cncf-cla: yes, sig/release, lgtm, approved

#203 Fix typos
  git/git.go
  github/github.go
  sign/impl.go
  test/integration/git_test.go
Labels: size/S, cncf-cla: yes, sig/release, lgtm, kind/documentation, approved

#195 move to cosign v2
  .github/workflows/e2e.yml
  go.mod
  go.sum
  sign/impl.go
  sign/options.go
  sign/sign.go
  sign/sign_test.go
  sign/signfakes/fake_impl.go
  test/integration/sign_test.go
Labels: kind/feature, size/XXL, cncf-cla: yes, sig/release, lgtm, approved

#205 Upload signatures to transparency log
  sign/sign.go
Labels: kind/regression, size/S, cncf-cla: yes, sig/release, lgtm, approved

#207 Default CertIdentityRegexp and CertOidcIssuer in SignOptions
  sign/options.go
  test/integration/sign_test.go
Labels: kind/feature, cncf-cla: yes, sig/release, lgtm, size/XS, approved

#208 Add osc package for running osc tool
  osc/config.go
  osc/osc.go
Labels: kind/feature, cncf-cla: yes, sig/release, lgtm, size/L, approved

#209 Make osc functions take working directory
  osc/osc.go
Labels: size/S, kind/cleanup, cncf-cla: yes, sig/release, lgtm, approved
